<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>commander</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.CommanderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Instant</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.InstantCmdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pic</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.PicRecvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.UpdateCmdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>switch</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.SwitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.yiren.server.commander.servlet.DeviceDashBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Instant</servlet-name>
        <url-pattern>/instant_cmd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pic</servlet-name>
        <url-pattern>/pic_cmd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update_cmd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>switch</servlet-name>
        <url-pattern>/switch_cmd</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
